%div{:style=>"margin-bottom:10px;"}
- ['large','medium', 'small'].each do |type|
  %a{:href=>"stuff", :class=>"btn #{type}"}= "#{type}  button"

%div
  - ['orange','green', 'blue'].each do |color|
    %div{:style=>"margin-bottom:10px;"}
      - ['small','active small','disabled small'].each do |type|
        %a{:href=>"stuff", :class=>"btn #{type} #{color}"}= "#{type} #{color} button"
