%nav
  %ul
    %li= link_to "Grids", grids_path
    %li= link_to "Typography", typography_path
    %li= link_to "Buttons", buttons_path
    %li= link_to "Labels", labels_path
    -# modules
    %li= link_to "Tabs", tabs_path
    %li= link_to "Navigations", nav_path
    %li= link_to "Alert", alert_path
    %li= link_to "Forms", forms_path
    %li= link_to "Footer", footer_path

