%nav.nav-global
  #nav-global.nav-collapse.baby-switch-content<
    %ul.nav-items.collapse><
      = nav_link "Home", root_path
      = nav_link "Grids", grid_path
      = nav_link "Base", base_path
      = nav_link "Modules", modules_path
      = nav_link "Javascript", javascripts_path
      = nav_link "Github", github_path
  .nav-mobile-switch.baby-only
    %a{ :href => "#nav-global", :data => {:switch => true, :"switch-toggle" => true} }><
      %span>< Show navigation
    %i><
    %i><
    %i><
